.page.theme_dark {
  --header-title: #DB00FF;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --accent-color-secondary: #FF0070;
  --button-outline-hover: rgba(255, 0, 112, 0.40);

  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decor {
  display: block;
}
