.page.theme_light {
  --header-title: #ffc2e6;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-secondary: #353430;
  --button-outline-hover: rgb(50 49 45 / 0.4);

  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decor {
  display: none;
}

.theme_light .title-decor {
  color: currentColor;
}

.theme_light .section__title {
  color: currentColor;
}

@media (prefers-color-scheme: light) {

  :root {
    --header-title: #ffc2e6;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-color-secondary: #353430;
    --button-outline-hover: rgb(50 49 45 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decor {
    display: none;
  }

  .title-decor {
    color: currentColor;
  }

  .section__title {
    color: currentColor;
  }
}
